body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #ffffff;
    color: #1a1a1a;
}

header {
    background-color: #000000;
    color: #ffffff;
}

.contenedor-seccion {
    max-width: 1200px;
    margin: auto;
    padding: 2em 1em;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.nav {
    list-style-type: none;
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;

}

.nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.3em 1em;
    border-radius: 5px;
    transition: ease 0.3s;
}

.nav a:hover, .nav .active {
    background-color: #e10073;
}

.hero {
    background: linear-gradient(to right, #1a1a1a, #4a4a4a);
    color: #ffffff;
    text-align: center;
    padding: 4em 1em;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.eventos {
    padding: 3em 0;
    text-align: center;
}

.evento-grid {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.evento-card {
    background-color: #ffffff;
    border-radius: 5px;
    width: 300px;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.evento-card img {
    width: 100%;
    border-radius: 5px;
}

.btn-comprar {
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    padding: 0.7em 1.5em;
    border-radius: 30px;
    text-decoration: none;
    background-color: #e10073;
}

.equipo {
    padding: 3em;
    text-align: center;
}

.equipo-grid {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.equipo-card {
    background-color: #ffffff;
    border-radius: 5px;
    width: 300px;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.equipo-card img {
    width: 50%;
    border-radius: 50%;
}

.contacto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #4a4a4a;
    color: #ffffff;
    padding-bottom: 3em;
}

.contacto aside {
    width: 250px;
    margin-bottom: 1em;
}

form {
    flex: 1;
    min-width: 250px;
    gap: 2em;
}

form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

form input, form select, form textarea {
    resize: none;
    padding: 0.5em;
    border: none;
    border-radius: 3px;
    margin-bottom: 0.5em;
}

button {
    background-color: #e10073;
    color: #ffffff;
    border: none;
    padding: 0.7em;
    margin-top: 1em;
    cursor: pointer;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover {
    background-color: #a40356;
}

footer {
    margin-top: 8em;
    padding: 3em;
    background-color: #080404;
    color: #ffffff;
}

footer div h4 {
    font-size: larger;
    font-weight: bold;
    margin: 15px 0;
}

.social {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

.social img {
    padding: 0.5em;
    background-color: #4a4a4a;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.social img:hover {
    transform: scale(1.2);
}

.footer-columns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
    padding-top: 1em;
}

.footer-columns div {
    max-width: 250px;
}

.footer-columns a {
    display: block;
    color: #ffffff;
    margin-top: 0.5em;
    text-decoration: none;
}

.footer-columns a:hover {
    text-decoration: underline;
}

.btn-centro-ayuda {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    padding: 0.7em 1.5em;
    border-radius: 5px;
    text-decoration: none;
    background-color: #e10073;
}